:root{
    --regular-width: 400;
    --bold-width: 700;

    --primary-dark-gray: #1F2933;
    --secondary-gray: #616E7C;
    --light-gray: #F5F7FA;
    --deselectedSelect: #9AA5B1;

    --primary-red: #F02831;
    --dark-red: #DA0B14;
    --light-red: #F76E6E;
    --primary-red-opactiy: hsla(357, 87%, 55%, .75);

    --text-regular: 18px;

}
/**Lenis CSS**/
html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: clip;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}
html{
    height: 100vh;
}

body{
    scroll-behavior: smooth;
    font-family: "Rubik", sans-serif;
    font-size: var(--text-regular);
    color: var(--primary-dark-gray);
    box-sizing: border-box;
  

}

.subheader-middle.hidden{
    height: 0;
    opacity: 0;
    visibility: hidden;
    transition: 200ms height ease-in-out, 300ms opacity ease-in-out, 100ms visibility ease-in-out;
  
}
.subheader-middle{
    visibility: visible;
    height: 20vh;
    width: 100%;
    background-color: var(--light-gray);
    justify-content: center;
    transition: 200ms height ease-in-out, 300ms opacity ease-in-out;
    display: flex;
    padding: 0px 50px;
 
}
.middle_right{
    display: none;
}


/* Header CSS Desktop */
header{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    position: sticky;
    top: 0;
    z-index: 100;

}

.subheader-top{
    background-color: var(--primary-dark-gray);
    color: var(--light-gray);
    height: 5vh;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0px 50px;
   
}
.subheader-content{
    display: grid;
    grid-template-columns: auto repeat(12, 1fr);
    gap: 24px;
    align-items: center;
    height: 7vh;
    width: 100%;
    max-width: 1200px;
    height: 100%;
  
}
.subheader-top .top_left{
    grid-column: 1 / 8;
    font-size: 16px;
}
.subheader-top .top_right{
    grid-column: 11 / span 2;
 
    
}
.top_right button{
    width: 100%;
    padding: 5px 15px;
    border-radius: 5px;
    height: 100%;
    font-size: 18px;
    background-color: var(--dark-red);
    color: var(--light-gray);
    border-style: none;
    box-shadow: inset 0px 1.5px 0px var(--light-red);
    box-shadow: 2px 2px 0px hsl(0, 0, 0, .90);
    cursor: pointer;

}
.hours_of_oper{
    display: flex;
    gap: 15px;
}

.hours_of_oper > div{
    display: flex;
    align-items: center;
    gap: 5px;
}

.hours_of_oper  i{
    font-size: 12px;
}



.subheader-content > .middle_left{
    grid-column: 1 / 4;
}

.middle_left img{
    width: 100%;
    height: 100%;
}
.middle_middle{
    grid-column: 5 / 12;
    display: flex;
    gap: 50px;
    align-items: center;
}
.shop-content{
    display: flex;
    flex-direction: column;
    max-width: fit-content;
}
.shop-content > div{
    display: flex;
    align-items: center;
    gap: 5px;
}
.shop-content > .phone_content{
    flex-direction: row-reverse;
    justify-content: left;
}
hr{
    border: 1px solid #CBD2D9;
    width: 100%;
    margin: 5px 0px;
}
a.phoneNumber{
    color: var(--primary-dark-gray);
    text-decoration: none;
    transition: 150ms cursor ease-in-out;
}


.phoneNumber:hover ~ .phoneIcon{
    animation: shake 1.5s infinite ease-in-out;
    transition: 150ms transform ease-in-out;

}
@keyframes shake{
    0% { transform: scale(1.3) rotate(0deg); }  /* Scale up first */
    20% { transform: scale(1.3) rotate(-5deg); }   /* Back to normal size */
    40% { transform: scale(1.3) rotate(0deg); }
    60% { transform: scale(1.3) rotate(5deg); }
    80% { transform: scale(1.3) rotate(0deg); }
    100% { transform: scale(1) rotate(-5deg); }
}

.subheader-bottom{
    height: 10vh;
    max-width: 100vw;
    display: flex;
    justify-content: center;
    box-shadow: 10px 0px 0px hsla(0, 0, 0, .3);
    background-color: white;
    padding: 0px 50px;
   
  
}
.bottom_nav{
    width: 100%;
    height: 10vh;
    grid-column: span 12;
    position: relative;

}
.bottom_nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    height: 100%;
    gap: 50px;
   
}
.bottom_nav ul > div > a{
    text-decoration: none;
    color: var(--secondary-gray);
    transition: 150ms color ease-in-out, 150ms cursor ease-in-out;
    padding: 25px 0px;
}

.bottom_nav ul div > a:hover{
    color: var(--primary-red)
}
main{
    z-index: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* overflow-x: hidden; */
}

.dropDownMenu{
    background-color: var(--light-gray);
    height: 0;
    opacity: 0;
    visibility: hidden;
  
    position: absolute;
    right: 0;
    z-index: 10;
    width: 100%;
    display: flex;
    padding: 10px 0px;
 
 
}
.dropDownMenu > ul{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: start;
    margin-top: 20px;
    font-size: 22px;
    margin: 0;
    padding: 0;
}


#shop_tires_dropdown{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#shop_tires_dropdown > ul{
    display: flex;
    flex-direction: column;
    align-items: start;
    background-color: var(--secondary-gray);
    border-radius: 5px;
    gap: 0;
    height: fit-content;
 
}
#shop_tires_dropdown > ul > a{
    text-decoration: none;
    color: var(--light-gray);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    border-bottom: 1.5px solid var(--light-gray);
    padding: 10px;
    
}
.fa-arrow-right{
    background-color: var(--dark-red);
    border-radius: 50%;
    /* border: 2px solid var(--primary-red); */
    width: 20px;
    font-size: 10px;
    height: 20px;
    font-weight: 600;
    box-shadow: 10px 2px 0px hsl(0, 0, 0);
    color:var(--light-3);
    display: flex;
    justify-content: center;
    align-items: center;


}

#service_dropdown{
    display: flex;
    gap: 50px
}

#service_dropdown > div{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 15px;

}

#service_dropdown > div > ul{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 10px;
}
#service_dropdown > div > ul > a > span{
    color:var(--primary-red)
}
#service_dropdown > div > ul > a{
    text-decoration: none;
    color: var(--primary-dark-gray);
}
#service_dropdown > div > span{
    font-weight: 700;
}




#service_dropdown, #shop_tires_dropdown{
    position: absolute;
    top: 100%;
    visibility: hidden;
    background-color: var(--light-gray);
    border-radius: 10px;
    padding: 25px;
    height: fit-content;
}
#shop_tires_nav, #services_nav{
    height: 100%;

    align-items: center;
    justify-content: center;
    display: flex;
}



#shop_tires_nav:hover #shop_tires_dropdown {
    visibility: visible;
}
#services_nav:hover #service_dropdown{
    visibility: visible;
}

.addIcon{
    width: 15px;
    height: 15px;
    position: relative;
    cursor:pointer;
}
.addIcon1, .addIcon3, .addIcon5, .addIcon7{
    width: 100%;
    height: 2px;
    background-color: var(--primary-dark-gray);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}
.addIcon2, .addIcon4, .addIcon6, .addIcon8{
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--primary-dark-gray);
    transform:translate(-50%, -50%) rotate(90deg);
    top: 50%;
    left: 50%;
}
.addIcon2.active, .addIcon4.active, .addIcon6.active, .addIcon8.active{
    display: none;
}

.dropDownMenu > ul > div{
    width: 100%;
    padding: 10px 16px;
    border-bottom: 2px solid #E4E7EB;
}

#dropdownMenu_ShopTires_nav, #dropdownMenu_Services_nav{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;

}

#dropdownMenu_ShopTires_dropdown, #dropdownMenu_Services_dropdown{
    display: flex;
    flex-direction: column;
    width: 75%;
    align-items: start;
    font-size: 18px;
    padding: 10px;
    gap: 10px;
    display: none;
}
#dropdownMenu_ShopTires_dropdown.active, #dropdownMenu_Services_dropdown.active{
    display: flex;
}
#dropdownMenu_ShopTires_dropdown > ul{
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 5px;
    background-color: var(--secondary-gray);background-color: var(--secondary-gray);
    padding: 0;
    margin-left: 10px;
}
#dropdownMenu_ShopTires_dropdown > ul > a{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 15px 10px;
    border-bottom: 2px solid var(--light-gray);
    color: var(--light-gray);
    text-decoration: none;
}
#dropdownMenu_Services_nav_automotiveservices_nav, #dropdownMenu_Services_nav_tireservices_nav{
    display: flex;
    width: 100%;
    justify-content: space-between ;
    padding: 10px 0px;
    align-items: center;
    cursor: pointer;

}
#dropdownMenu_Services_nav_automotiveservices, #dropdownMenu_Services_nav_tireservices{
    width: 100%
}
#dropdownMenu_Services_nav_options.tires, #dropdownMenu_Services_nav_options.automotive{
    width: 100%;
    display: none;
}
#dropdownMenu_Services_nav_options.tires.active, #dropdownMenu_Services_nav_options.automotive.active{
    display: flex;
}

#dropdownMenu_Services_nav_options > ul{
    display: flex;
    flex-direction: column;
    width: 100%;
}
#dropdownMenu_Services_nav_options > ul > a{
    text-decoration: none;
    color: var(--primary-dark-gray);
    padding: 5px 0px
}
#dropdownMenu_Services_nav_options > ul > a > span{
    color: var(--primary-red);
}
.dropDownMenu > ul > div > a{
    text-decoration: none;
    color: var(--primary-dark-gray);
}

/* Hero Css */
.hero{
    height: 90vh;
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex


}
.hero_content{
    grid-column: span 8;
    grid-row: 1;
    align-self: center;
    display: flex;
    flex-direction: column;
    height: 50%;
}
.hero_socialproof{
    display: flex;
    align-items: center;
    gap: 5px;
}
.ratingsStars{
    display: flex;
    align-items: center;
}
.rating{
    font-size: 18px;
}
.hero > img {
   position: absolute;
   width: 50%;
   right: 0;
   bottom: 0;
   z-index: -1;
}
.hero_socialproof{
    display: flex;
}
.ratingsStars > i{
    line-height: 17px;
    color: #E9E217;
    font-size: 12px;
    align-items: center;
}
.hero_headline{
    font-size: 60px;
    font-weight: 700;
}
.hero_headline > span{
    color: var(--primary-red);
}
.hero_description{
    font-size: 18px;
    font-weight: 700;
    color: var(--secondary-gray);
    max-width: 75%;
}
.hero_buttons{
    margin: 20px 0px;
    display: flex;
    gap: 20px;
    
}

a.primary_button{
    padding: 5px 20px;
    background-color: var(--primary-red);
    color: var(--light-gray);
    border-radius: 5px;
    font-size: 22px;
    font-weight: 600;
    text-decoration: none;
    align-self: center;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 2px rgb(0, 0, 0, .10),
    inset 0px 2px var(--light-red);

}

a.secondary_button{
    padding: 5px 20px;
    color: var(--light-red);
    border: 2px solid var(--light-red);
    border-radius: 5px;
    font-size: 20px;
    text-decoration: none;
    align-self: center;
    max-width: min-content;

    text-align: center;
}

.benefits{
    grid-template-rows: 1fr 10fr;
}


.benefits, .hero_div, .shop_tires_container, .services, .testimonial, .locations{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap:24px;
    margin: 0px 113px;
    max-width: 1200px;
    height: 100%;
    width: 100%;
    margin-top: 50px;
}
.benefit_container{
    grid-column: span 12;
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
.red_card{
    max-width: calc((100% - 100px) / 3);
    background-color: var(--dark-red);
    border-radius: 10px;
}
.benefit_card {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: var(--light-gray);
    background-color: var(--primary-dark-gray);
    border-radius: 10px;
    padding: 25px;
    gap: 20px;
    cursor: pointer;
    height: 100%;
    transition: all ease-in-out 200ms;
}
.red_card:hover > div{
    transform: translate(-5%, -5%);
    box-shadow: 5px 5px 2px rgba(0, 0, 0, .10);
}


.red_card:hover  i {
    background-color: var(--dark-red);
}
.benefit_card > i {
    font-size: 42px;
    width: 80px;
    height: 80px;
    background-color: var(--light-red);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    transition: all ease-in-out 200ms;

}
.benefit_title{
    font-size: 30px;
    height: min-content;
    font-weight: 700;
    height: 90px;
}
.benefit_description{
    font-size: 22px;
    font-weight: 400;
}

span.section_title{
    grid-column: span 12;
    color: var(--secondary-gray);
    font-size: 30px;
    max-height: fit-content;
}

/*Shop Tire CSS*/

.shop_tires{
    background-image: url(./assets/tires_backdrop.png);
    background-position: center;
    height: 85vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size:cover;
    margin-top:50px;
    display: flex;
    justify-content: center;
 
}
.shop_tires_container  form{
    grid-column: 6 / -1;
    width: 100%;
    height: 100%;
    display: flex;

}

.search_select_box{
    height: 100%;
    width: 100%;
    background-color: hsla(0, 0%, 100%, .9);
    display: flex;
    flex-direction: column ;
    padding: 50px;
    padding-top: 25%;
    
}
.shop_tires_subtitle{
    font-size: 36px;
    color: var(--primary-red);
}
.searchBy{
    margin-bottom: 20px;
    border-radius: 20px !important;
    margin-top: 30px;   
    width: 183.33px !important;
}
.searchBy button, .widths button, .profiles button, .wheelSizes button, .states button{
    background: var(--primary-dark-gray) !important;
    color: var(--light-gray) !important;
    width: 100%
}

.formSearchByTireSize, .formSearchByLicense{
    display: flex;
    gap: 20px;
    width: 100%;
    justify-content: end;
}

.search_select_box > button{
    margin-top: 20px;
}
.input_div{
    position: relative;
    font-size: 16px;
    width: 100%;
}
.input_div input{
    border-radius: 5px;
    appearance: none;
    outline: none;
    height: 100%;
    border: none;
    padding-left: 12px;
    background-color: var(--primary-dark-gray);
    color: var(--light-gray);
    
}

.input_div .placeholder{
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--deselectedSelect);
    pointer-events: none;
    transition: 200ms color ease, 200ms top ease, 200ms font-size ease;
}

.input_div input:focus {
    border: 2px solid var(--light-gray);
}
.input_div input:focus + .placeholder, .input_div input:valid + .placeholder{
    top: 0%;
    transform: translateY(-100%);
    font-size: 14px;
    color: var(--primary-dark-gray);

} 
.search_button{
    background-color: var(--primary-red);
    width: fit-content;
    color: var(--light-gray);
    border-radius: 5px;
    border: none;
    cursor: pointer;
    padding: 5px 20px;
}
.dropdown:has(.widths), .dropdown:has(.profiles), .dropdown:has(.wheelSizes), .dropdown:has(.states){
    width: 100% !important;
} 

.dropdown-menu.show{
    transform:translate3d(0px, 40px, 0px) !important;
    max-height: 200px !important;

}
.dropdown-menu.inner{
    transform:translate3d(0px, 0px, 0px) !important;
    max-height: calc(200px - 46px) !important;
    overflow-y: scroll !important;
    overscroll-behavior: contain;
} 
div.inner.show {
    max-height: calc(200px - 46px) !important;

}

/*Service Section CSS*/
.services{
    grid-template-rows: repeat(12, 1fr);
    row-gap: 0;
    grid-template-rows: auto;

}
.service_selector_container{
    grid-column: span 12;
    justify-content: center;
    width: 100%;
    display: flex;
}
.service_selector{
    display: flex;
    font-size: 18px;
    color: var(--secondary-gray);
    box-sizing: border-box;
    width: fit-content;
    border-radius: 9999px;
    border: 1px solid var(--secondary-gray);
    padding: 2px;
    background-color: var(--light-gray);
    
}
.service_selector > div{
    padding-right: 5px;
    cursor: pointer;
    transition: 200ms color ease-in-out, 200ms background-color ease-in-out;
    padding: 10px;
    border-radius: 9999px;
}

.service_selector > div.selected{
    color: var(--light-gray);
    background-color: var(--primary-red);
    cursor: default;
}


.service_card_container{
    display: none;
}
.service_card{
    grid-column: span 4;
    position: relative;
    width: calc((100% / 3) - 20);
    height: 340px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.service_card > img{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    z-index: -1;
    object-fit: cover;

}
.img_tint{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    z-index: 1;
    background-color: hsla(0, 0%, 0%, 20%);
}


.service_card_content{
    z-index: 1;
    width: 80%;
    height: 80%;
    position: relative;
    display: flex;
    align-items: end;
    justify-content: center;
    text-align: center;
}
.mobile_label, .desktop_label{
    color: #ffff;
    font-size: 30px;
    font-weight: 700;

}

.service_card_content_text{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    opacity: 0;
    background-color: var(--primary-red-opactiy);
    color: var(--light-gray);
    padding: 0px 10px;
    border-radius: 5px;
    gap: 10px
}
.mobile_label{
    display: none;
}
.service_card_content_text > a{
    color: var(--light-gray);
}
.service_card_container.active{
    display: grid;
    grid-column: span 12;
    grid-template-columns: repeat(12, 1fr);
    gap: 10px;
    margin-top: 50px;
}

/*Testimonial CSS*/
.testimonial {
    grid-template-rows: repeat(2, 1fr);
    height: 85vh;
}
.testimonial > img {
    grid-column: 1 / 7;
    grid-row: 1 / -1;
    width: 100%;
    height: 100%;
}

.testimonial > .text_container{
    grid-column: 7 / -1;
    grid-row: 1;
    padding-top: 20px;
}
.reviews_container{
    grid-column: 5 / -1;
    grid-row: 2;
    margin-bottom: 50px;
}
a.reviewBtn{
    text-decoration: none;   
    background-color: var(--primary-red);
    padding: 10px 20px;
    border-radius: 5px;
    color: var(--light-gray)
}

/*Locations CSS*/
.locations{
    height: 85vh;
}
#map{
    grid-column: 6 / -1;
    width: 100%;
    height: 100%;
}
.glyph{
    font-size: 20px;
    font-weight: 700;

}

.infoWindowHeader{
    display: flex;
    align-items: center;
    color: var(--primary-red);
    padding-bottom: 20px;
}
.infoWindowHeader > span{
    font-size: 18px;
    font-weight: 700;
    
}
.inforWindowShopDetails{
    display: flex;
    flex-direction: column;
    color: var(--primary-dark-gray)
}
.inforWindowShopAddress{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-bottom: 5px;
}
.inforWindowShopDetails > .phoneNumber{
    color: #1877F2;
    padding-bottom: 10px;
}
.inforWindowShopDetails > .Open{
    background-color: #C6F7E2;
    color: #014D40;
    width: fit-content;
    border-radius: 50px;
    padding: 5px 10px;
    font-weight: 500;
}
.inforWindowShopDetails > .Close{
    background-color: #FFBDBD;
    color: #8A041A;
    width: fit-content;
    border-radius: 50px;
    padding: 5px 10px;
    font-weight: 500;
}
.infoWindowButtons, .location_btns{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 20px;
    align-items: center;
}
.infoWindowButtons > a, .location_btns > a{
    width: 50%;
    text-align: center;
    padding: 10px 5px;
    border-radius: 50px;
    text-decoration: none;
    font-weight: 700;
    box-sizing: border-box;
}
.infoWindowButtons >  a.primary, .location_btns > a.primary{
    background-color: var(--primary-red);
    color: var(--light-gray);

}
.infoWindowButtons >  a.secondary, .location_btns > a.secondary{
    border: 2px solid var(--primary-red);
    color: var(--primary-red);
}
.locations_container{
    grid-column: span 5;
    display: flex;
    flex-direction: column;
}
.locations_container > span{
    margin-bottom: 25px;
    padding-top: 20px;
}
.location_card{
    background-color: var(--light-gray);
    border-radius: 10px;
    margin-bottom: 50px;
    padding: 50px 20px;
}
.location_card_header{
    display: flex;
    align-items: center;
    color: var(--primary-red);
    padding-bottom: 10px;
}
.location_card_header > span{
    font-size: 22px;
    font-weight: 500;
}
.location_btns > a{
    border-radius: 10px;;
}
.location_card.active{
    border: solid 5px var(--primary-red);
}
.location_address{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.grid-col-3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.grid-col-3 > span{
    grid-column: span 1;
}
.grid-col-3 > div{
    grid-column: span 2;
}
.hours_of_operation > ul{
    list-style: none;
    padding: 0;
}
.hours_of_operation > ul > li{
    text-indent: 0;
}
.hours_of_operation{
    width: 75%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 5px;
}
.hours_of_operation_list{
    display: none;
}
.hours_of_operation_list.active{
    display: block;
}
.locations_card_container{
    height: 85vh;
    overflow-y: scroll;
}



/* Animation for the blinking effect */
@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}


@media (max-width: 500px){
    .subheader-bottom, .subheader-top, .middle_middle{
        display: none;
    }
    .subheader-middle{
        height: 10vh;
        padding: 0px 16px;
    }
    .subheader-content{
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
        max-width: 500px;
        height: 100%;  
    }
    .subheader-content > .middle_left{
        grid-column: 1 / 3;
        height: 75%;
    }
    .middle_right{
        grid-column: 4;
        justify-content: end;
        display: flex;
        color:var(--primary-dark-gray);
        cursor: pointer;
        height: 50%;
        align-items: center;
        width: 100%;
        position: relative;
        padding: 10px 10px;
    }

    .middle_right div{
        position: absolute;
        box-sizing: border-box;
        width: 25%;
        height: 2.5px;
        border-radius: 25px;
        background-color: var(--primary-dark-gray);
        transition: 150ms opacity ease-in-out, 150ms transform 150ms ease-in-out;
       
    }
    .middle_right div:nth-child(1){
        top: 25%;
        transition: 150ms top ease-in-out;
    }
    .middle_right div:nth-child(3){
        bottom: 25%;
        transition: 150ms top ease-in-out;
    }
    #hamBtn.active div:nth-child(2){
        opacity: 0;
        transition: 200ms opacity ease-in-out 200ms;
    }
    #hamBtn.active div:nth-child(1){
        top: 50%;
        transform: rotate(-45deg);
        transition: 200ms transform 200ms ease-in-out;
    }
    #hamBtn.active div:nth-child(3){
        top: 50%;
        transform: rotate(45deg);
        transition: 200ms transform 200ms ease-in-out;
    }
    body.active{
        height: 100vh;
        position: fixed;
        overflow: hidden;
    }
    .dropDownMenu.active{
        height: 90vh;
        opacity: 100%;
        visibility: visible;
        overflow-y: scroll;
       
    }
    /* Hero Css */
    .hero{ 
        grid-template-columns: repeat(4, 1fr);
    }
    .hero_content{
        grid-column: span 4;
        padding: 0px 16px;
        grid-row: 1;
        display: flex;
        flex-direction: column;
        height: 100%;
        align-items: center;
        justify-content: start;
        padding-top: 35%
    }

    .hero_socialproof{
    font-size: 12px;
    }
    .ratingsStars{
        display: flex;
        align-items: center;

    }
    .rating{
        font-size: 18px;
    }
    .ratingsStars > i{
        font-size: 10px;
    }
    .hero > img {
    width: 100%;
    bottom: 0;
    z-index: -1;
    }

    .hero_headline{
        font-size: 32px;
        font-weight: 700;
        text-align: center;
        margin: 0;
    }

    .hero_description{
        font-size: 22px;
        font-weight: 400;
        max-width: 100%;
        text-align: center;
    }
    .hero_buttons{
        height: 50px;
        width: 75%;
    }
    a.primary_button{
        font-size: 22px;
        border-radius: 100px;
        height: 100%;
        width: 100%;
    }

    .benefits, .hero_div, .shop_tires_container, .services{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
        gap:10px;
        margin: 0px 0px;

        padding: 0px 16px;
    }
    .benefit_container{
        grid-column: span 4;
        display: flex;
        justify-content: space-between;
        gap: 0;
    }
    .red_card{
        max-width: 100%;
        background-color: var(--dark-red);
        border-radius: 10px;
        height: 366px;
    }
    .benefit_card {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        color: var(--light-gray);
        background-color: var(--primary-dark-gray);
        border-radius: 10px;
        padding: 25px;
        gap: 20px;
        cursor: pointer;
        height: 100%;
        transition: all ease-in-out 200ms;
    }
    .red_card:hover > div{
        transform: translate(0, 0);
        box-shadow: 5px 5px 2px rgba(0, 0, 0, .10);
    }


    .benefit_card:hover > i {
        background-color: var(--dark-red);
    }
    .benefit_card > i {
        font-size: 42px;
        width: 80px;
        height: 80px;
        background-color: var(--light-red);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        transition: all ease-in-out 200ms;

    }
    .benefit_title {
        font-size: 24px;
        height: min-content;

    }
    .benefit_description{
        font-size: 18px;
    }

    span.section_title{
        grid-column: span 4;
        font-size: 24px;
        text-align: center;
    }
    .shop_tires{
        height: 100vh;
    }
    .shop_tires_container  form{
        grid-column: span 4;

    }
    span.shop_tires_subtitle{
        text-align: center;
        font-size: 30px;
        max-width: 300px;
    }
    .search_select_box{
        padding: 15px;
        /* padding-top: 50%; */
        height: 100%;
        justify-content: center;
        align-items: center;
    }
    .formSearchByTireSize, .formSearchByLicense{

        flex-direction: column;
        max-width: 183.33px ;
    }

    .input_div{
        height: 38px;
        max-width: 183.33px;
        margin-top: 10px;
    }
    .input_div input{
        width: 100%;
    }
    .benefits, .services{
        padding-top: 50px;
    }
    .services{
        height: fit-content;
    }
    .service_selector_container{
        grid-column: span 4;
        grid-row: 2;
    }
    .service_card_container.active{
        /* display: flex; */
        grid-column: span 4;
        overflow-x: scroll;
        width: fit-content;
        gap: 0;
        margin-top: 10px;
        display: flex;
    }
    .service_card{
        width: 100%;
    }
    .swiper.tire.active, .swiper.automotive.active{
        display: grid;
    }
    .swiper.tire, .swiper.automotive{
        display: none;
    }
    
    
    .swiper {
        grid-column: span 4;
        width: 100%;
        height: 400px;
      }
      .swiper-slide{
        height: 366px !important;
      }
 

    
}